.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-body {
  display: flex;
}

.customer-list {
  width: 30%;
}

.name {
  background-color: rgb(117, 217, 235);
  color: rgb(7, 68, 68);
 
}

.btn {
  border: none;
  color: white;
  background-color: rgb(117, 217, 235);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card {
  border: 1px solid rgb(117, 217, 235);
  margin: 20px;
  border-radius: 8px;
}

.card p {
  padding: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
